<div class="row py-3 header">
    <!-- <div class="col-lg-2 col-md-2 col-sm-2 "></div> -->
    <div class="col-lg-3 col-md-3 col-sm-3 col-lg-offset-2">
        <img src="../assets/BSEPositivoTrasparente_New.png" />
        <hr>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <br/>
        <span class="merchantDetails text-center">
            <span>{{'header.shop' |translate}} :</span>
            <span>{{merchantName}}</span>
        </span>
        
        <hr>
        <span>
            <span>{{'header.amount'|translate}} :</span>
            <span>{{amount}} {{currency}}</span>
        </span>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3  language">
        <br/>
        <span>{{'header.chooseLanguage'|translate}}</span>
        <span class="dropdown">
            <img class="dropimg" src="../assets/gb.png" />
            <div class="dropdown-content">
                <a (click)="translator.use('en');">
                    <img src="../assets/gb.png" /> English
                </a>
                <a (click)="translator.use('it')">
                    <img src="../assets/it.png" /> Italy
                </a>
            </div>
        </span>
        <hr>
    </div>
</div>