<div class="row py-3 header">
    <div class="col-lg-2 col-md-2 col-sm-2 "></div>
    <div class="col-lg-3 col-md-3 col-sm-3 ">
        <img src="../assets/BSEPositivoTrasparente_New.png" />
        <hr>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <br/>
        <span class="merchantDetails text-center">
            <span>Merchant Name :</span>
            <span>FakeMerchant</span>
        </span>
        
        <hr>
        <span>
            <span>Amount :</span>
            <span>0.05 Euro</span>
        </span>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3  language">
        <br/>
        <span>Choose Language</span>
        <span class="dropdown">
            <img class="dropimg" src="../assets/gb.png" />
            <div class="dropdown-content">
                <a href="#ref">
                    <img src="../assets/gb.png" /> English
                </a>
                <a href="#ref">
                    <img src="../assets/it.png" /> Italy
                </a>
            </div>
        </span>
        <hr>
    </div>
</div>