<section class="jumbotron">
    <div class="row paymentlist">
        <div class="mx-auto col-lg-3 col-md-3 col-sm-3 col-lg-offset-1">
            <div class="wrapper">
            <img class="image" src="../assets/Maestro.svg" />
            
            </div>
        <div class="paymentname">
                Credit Card
        </div>
      </div>
    <div class="mx-auto col-lg-3 col-md-3 col-sm-3 ">
            <div class="wrapper">
                    <img class="image" src="../assets/Alipay.svg" />
                    
                    </div>
                    <div class="paymentname">
                        Alipay
                    </div>
    </div>
    <div class="mx-auto col-lg-3 col-md-3 col-sm-3">
            <div class="wrapper">
                    <img class="image" src="../assets/ideal.svg" />
                    
                    </div>
                    <div class="paymentname">
                        Ideal
                    </div>
            
    </div>
    <div class="mx-auto col-lg-3 col-md-3 col-sm-3 col-lg-offset-1">
        <div class="wrapper">
                <img class="image" src="../assets/JCB.svg" />
                
                </div>
                <div class="paymentname">
                    JCB
                </div>
        
</div>
<div class="mx-auto col-lg-3 col-md-3 col-sm-3">
    <div class="wrapper">
            <img class="image" src="../assets/Diners.svg" />
            
            </div>
            <div class="paymentname">
                Diners
            </div>
    
</div>
<div class="mx-auto col-lg-3 col-md-3 col-sm-3">
    <div class="wrapper">
            <img class="image" src="../assets/Visa.svg" />
            
            </div>
            <div class="paymentname">
                Visa
            </div>
    
</div>
</div>
    
</section>